# Sistema
.DS_Store
Thumbs.db

# Backups temporales
*.bak
*.tmp

# Archivos locales
.env
config.local.js

# VS Code
.vscode/

# Apps Script local
apps_script/.clasp.json

# Node
node_modules/

# Node
node_modules/

# Backups locales
backups/*.zip

# Archivos fuente locales
/Logo yactun + zorro.jpeg

# Config local informes
pc_informes/config.local.json

# Informes generados
informes/*.xlsx
